/* -------------------------------------------------------------CSS for top navbar----------------------------------------------------- */
   
*{
    padding: 10px;
    /* margin: 0; */
    box-sizing: border-box;
    

}
.desktop-item{
    cursor: pointer;
}
#navbar{
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -100px;
    background-color: #e2f2fa;
    
}
#navbar>img{
    width: 200px;
    position: relative;
    right: 120px;
}
#search{
    width: 200px;
    height: 30px;
    position: relative;
    top: 90px;
}
#user-logo{
    cursor: pointer;
    position: relative;
    top: 90px;
    left: -100px;
}

/* -------------------------------------------------CSS for the footer part----------------------------------------------------------- */
.bold{
    font-weight: bold;
}

#footer{
    position: relative;
    left: 200px;
    margin: auto;
    display: flex;
    background-color: #FFFFFF;
}
li{
    list-style: none;
}



/*-----------------------CSS for middle section--------------------------------------------- */
img{
    width: 100%;
}

#middle-section-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

h2,p,button{
    text-align: center;
    opacity: 0.8;
}

button{
    display: block;
    margin: auto;
}

#middle-section-3{
    display: flex; 
    justify-content: space-evenly;
    margin: auto;
}
#middle-section-3>h3,p{
    text-align: center;
}

#middle-section-3 img{
    width: 100px;
}